{# views/person/new.html.twig #}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/person/editone.css') }}" rel="stylesheet" />
{% endblock %}


{% block middle %}
<div id="middle" >
<div id="newperson"  >
 <div class="heading" > 
 <div class="label">{{'new.person'|trans }}</div>
 <div class="title" >{{ person.fullname}}</div>
 <div class="returnbutton button1"> <a href = {{returnlink}} >{{'.back'|trans }} </a> </div>
</div>

<div  class="form" >
{{ form_start(form) }}

    {{ form_row(form.surname) }}
    {{ form_row(form.forename) }}
    {{ form_row(form.alias) }}

    <button type="submit">{{'Register!'|trans }}</button>
{{ form_end(form) }}

</div>
</div>
{% endblock %}
