{# views/url/showall.html.twig #}

{% extends 'user.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/url/url.css') }}" rel="stylesheet" />
<link href="{{ asset('css/showhide.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
{{ parent() }}
    <script src="{{asset('js/showhide.js')}}"></script>
{% endblock %}


{% block middle %}
<div id="middle" >
<div id="urls">
    {% if message %}
    <h1> {{message}}</h1>
    {% endif %}
    
    {% if groups %}
    <div class="heading">
        <div class="label" >{{'.urlinks'|trans}} </div> 
    </div>
    <div class="urllist">
        {% for tag,urls in groups %}
        <button class="collapsible"> 
          {{ tag|trans({},'tags') }}
            </button>
        <div class="content">
        {% for url in urls %}
        <div class="url row">
            <div  class="label" >{{url.label}} </div>
            <div class="returnbutton button1" > <a class="editbutton" href="/{{lang}}/url/visit/{{url.id}}" >{{"link.visit"|trans }} </a> </div>
            <div class="editbutton" > <a class="editbutton" href="/{{lang}}/url/addbookmark/{{url.id}}" >{{"bookmark.link"|trans }} </a> </div>
        </div>
        
        {% endfor %} 
    </div>
        
        {% endfor %}
    </div>
    {% endif %}
</div>
</div>
{% endblock %}


 {% block quill %}
 <script>
     showhide();
 </script>
 {% endblock %}
