
            {% set locale =  app.request.getLocale() | lower %}
<div id="mainmenu">
 <div class="menuitem" > <a  href="/{{locale}}/menucontent/201"> {{'.introduction'|trans }}</a></div>
  <div class="menuitem" > <a  href="/{{locale}}/menucontent/200"> {{'our.site'|trans}}</a></div>
 <div class="menuitem" > <a  href="/{{locale}}/person/all"> {{'the.men'|trans}}</a></div>
 <div class="menuitem" > <a href="/{{locale}}/event/top"> {{'the.action'|trans}}</a> </div>

{% if is_granted('ROLE_USER') %}
   <div class="menuitem" > <a href="/{{locale}}/search/all"> {{'search.site'|trans}}</a> </div>
   <div class="menuitem" > <a href="/{{locale}}/user/{{ app.user.userid }}"> {{'user.profile'|trans}}</a> </div>
{% endif %}
 {% if is_granted('ROLE_ADMIN') %}  
   <div class="menuitem" > <a href="/admin/image/search"> {{'admin.images'|trans}}</a> </div>
    <div class="menuitem" > <a href="/admin/location/top"> {{'admin.locations'|trans}}</a> </div>
      <div class="menuitem" > <a href="/admin/content/search"> {{'admin.content'|trans}}</a> </div>
      <div class="menuitem" > <a href="/admin/user/search"> {{'admin.allusers'|trans}}</a> </div>
      <div class="menuitem" > <a href="/admin/message/all"> {{'admin.messages'|trans}}</a> </div>
{% endif %}
</div>
