{# views/image/editone.html.twig #}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/image/editone.css') }}" rel="stylesheet" />
{% endblock %}
 {% block js %}
 {{ parent() }}
 <script>
 
     function xclicklocation(lid)
     {
      window.location.href = '/admin/event/setlocation/{{objid}}/'+lid;
     }
     
     function xclickperson(pid)
     {
        window.location.href = '/admin/image/addref/person/'+pid+'/{{objid}}';
     }
 </script>
{% endblock %}


{% block middle %}
  <div id="middle" >
  <div id="image" >
   {% if message %}
     <h1> {{message}}</h1>
   {% endif %}

   {% if image %}
   <div class="heading" >
    <div class="heading">{{title}}</div> 
     <div class="editbutton button1"><a class="editbutton" href=" /admin/image/addBookmark/{{image.imageid}}">{{'bookmark.image'|trans}}</a></div>
     <div class="editbutton" ><a class='editbutton' href="/admin/image/edit/{{image.imageid}}">{{'edit.image'|trans}}</a></div>
      <div class="editbutton" ><a class='editbutton' href="/admin/text/image/{{image.imageid}}">{{'edit.texts'|trans}}</a></div>
       <div class="deletebutton" ><a class='deletebutton' href="/admin/image/delete/{{image.imageid}}" Onclick="return ConfirmDelete()" >{{'delete.image'|trans}}</a></div>
      <div class="returnbutton"> <a href ='/admin/image/search' >{{'.back'|trans }} </a> </div>
      
     </div>
     <div class='path'>
        {{ image.path}} 
     </div>
        <div class='path'>
        {{ image.fullpath}} 
     </div>
     <div class="content">
    <div class="image"> 
     <img src="{{ image.fullpath }}" />
     </div>
     
     <div class="refs">
       <div  class="linksheading" >{{'links.to'|trans }}</div>
       {% for obtype , oref in refs %}
        <div class="linkgroup" >{{obtype|trans}}</div>
         {% for obid , ref in oref %}       
        <div class="ref" > <a href="{{ ref.link }}">{{ref.label}}</a> </div>
        {% endfor %}
           {% endfor %}
    </div>
     </div>
  {% endif %}
  </div>
  </div>
{% endblock %}

{% block right %}

   {{ render(controller('AppBundle\\Controller\\BookmarkController::setfield'))}}

{% endblock%}
