{# views/message/show.html.twig #}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/message/showall.css') }}" rel="stylesheet" />
   <link href="{{ asset('/css/message/usermessage.css') }}" rel="stylesheet" />
{% endblock %}


{% block middle %}
<div id="middle" >
<div id="message"  >
<div class="heading">
  <div class="label" > {{'read.message'|trans }}</div>
  <div class="title" > {{message.id}}</div>

  <div class = "deletebutton button1">
      <a class='deletebutton' href="/admin/message/delete/{{message.id}}"  Onclick="return ConfirmDelete()" >{{'delete.message'|trans}}</a>
 </div>
  <div class="returnbutton"> <a href = {{returnlink}} >{{'.back'|trans }} </a> </div>
</div>


<div class="messagelist" >




<div id= "usermessage" >
 
<div class="heading"> 
 <div class= "label" >{{'message.forwarded.by.admin'|trans }}</div>
</div>
<div class= "subheading">
   <div class= "label" >{{'message.sent.by'|trans }}</div>
   <div class= "title" >{{message.fromname}} ({{message.fromemail}}) </div>
</div>
<div class= "subheading" >
   <div class= "label" >{{'message.to'|trans}}</div>
   {% if  message.bcc %} 
   <div class="title" >{{message.toname}}  </div>
   <div class= "subheading">
   <div class= "label" >{{'message.bcc'|trans }}</div>
   <div class= "title" >{{message.bcc}}</div>
   </div>
   {% else %}
      <div class="title" >{{message.toname}} ({{message.toemail}}) </div>
   {% endif %}
   <div class= "label" >{{'message.date'|trans}} </div>
   <div class="title"> {{message.date_sent  | date("Y-m-d")}}</div>
</div>

<div class= "subheading">
   <div class= "label" >{{'message.subject'|trans }}</div>
   <div class= "title" >{{message.subject}}</div>
</div>
<div class= "messagebody">
    {{ message.body  | raw }}
</div>

</div>


</div>
</div>

</div>
{% endblock %}
