{# views/message/form.html.twig #}

{% extends 'user.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block middle %}
<div id="middle" >
<div id="contactform" >
    <div class=heading>
        <div class="label" >{{'contact.us'|trans}}</div>
    </div>       
    <div class="form">
        {{form_start(form)}}
        {{ form_row(form.toname) }}
      
        {{ form_row(form.fromname) }}
        {{ form_row(form.fromemail) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}
        <button type="submit">{{'.send'|trans}}!</button>
        {{form_end(form)}}
    </div>
    
</div>
</div>
{% endblock %}
