{# views/message/usermessage.html.twig #}

{% extends 'user.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/message/emailbody.css') }}" rel="stylesheet" />
{% endblock %}

{% block middle %}
<div id="middle" >
<div id= "emailresp" >
<div class="heading">
<div class="label"> {{"you.have.sent.a.message.to.FFLSAS.org"|trans}}</div>
</div>
<div class="subheading">
<div class="label">{{ "a.copy.has.been.sent.to.your.email.address"|trans }}</div>
</div>
<div class= "subheading">
   <div class= "label" >{{'message.sent.by'|trans }}</div>
   {% if 'admin' in ( message.toname | lower)  %}
    <div class= "title" >{{message.fromname}} ({{message.fromemail}}) </div>
   {% else %}
   <div class= "title" >FFLSAS-admin </div>
   {% endif %}
</div>
<div class= "subheading">
   <div class= "label" >{{'message.to'|trans}}</div>
   <div class="title" >{{message.toname}}</div>
   <div class= "label" >{{'message.date'|trans}} </div>
   <div class="title"> {{message.date_sent | date('Y-m-d')}}</div>
</div>
<div class= "subheading">
   <div class= "label" >{{'message.subject'|trans }}</div>
   <div class= "title" >{{message.subject}}</div>
</div>
<div class= "messagebody">
    {{ message.body | raw }}
</div>
</div>
</div>
{% endblock %}
