{# views/user/edit.html.twig #}


{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   
{% endblock %}


{% block middle %}
<div id="middle" >
<div id="usereditform"  >
<div class="heading">
 <div class="label" > {{'enter.new.password'|trans }}</div>

 <div class="returnbutton"> <a href = {{returnlink}} >{{'.back'|trans }} </a> </div>
 </div>
<div  class="form" >
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.interet) }}
    {{ form_row(form.plainPassword) }}
   
    <button type="submit">{{'.submit'|trans}}!</button>
{{ form_end(form) }}

</div>
</div>
</div>
{% endblock %}
