{# views/linkref/showall.html.twig #}

{% extends 'user.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/linkref/showall.css') }}" rel="stylesheet" />
{% endblock %}

{% block myheader %} {{ parent() }}{% endblock %}


{% block sidebar %}
  
   {% if message %}
     <h1> {{message}}</h1>
   {% endif %}

   {% if refs %}
     <h1>{{heading}}</h1> 
     <nav>
       <ul>
         {% for ref in refs %}
            <li><a href="{{ref.path}}" >{{ ref.label}}</a> </li>
         {% endfor %}
      </ul>
     </nav>
  {% endif %}
{% endblock %}
