{# views/content/contentsearch.html.twig #}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/searchall.css') }}" rel="stylesheet" />
{% endblock %}

{% block middle %}
<div id="middle" >
  <div id="search" class="search">
   {% if message %}
     <h1> {{message}}</h1>
   {% endif %}
   <div class="heading">
      <div class="label"> {{ heading|trans }}</div>
      <div class="editbutton button1"><a class="editbutton" href ="/admin/content/new">{{'new.content'|trans}}</a></div>
   </div>
  <form  action="/admin/content/search">
  <div class="row">
   <div class="label"> {{'enter.search'|trans }}</div>
   <input type="text" name="searchfield">
   <input type="submit" value="{{'.search'|trans }}" >
       <div class="editbutton"><a href="/admin/content/search/*">{{'.reset'|trans}}</a></div>
   </div>
   </form>
   {% if contents is defined %}
     <div class="subheading">
     <div class="label">{{subheading|trans}}</div> 
     <div class="title">{{searchfield}}</div> 
        <div class="title">(n={{contents | length }})</div>
     </div>
     <div class="searchlist" >
         {% for content in contents  %}
            <div class="search row" >
             <div>{{content.title}}</div> 
             <div class="editbutton button1"><a class="editbutton" href="/admin/content/addbookmark/{{content.subjectid}}">{{'.bookmark'|trans}}</a></div>
             <div class="editbutton "><a class="editbutton" href="/{{lang}}/content/{{content.subjectid}}/{{content.language}}">{{'see.content'|trans}}</a></div>
            </div>
         {% endfor %}
     </div>
  {% endif %}
  </div>
  </div>
{% endblock %}



