{# views/message/template/fr/contentemailfooter.html.twig #}



<div class="mailfooter">
<table >
<tr >
<td colspan="3" ><a href="{{baseurl}}fr/content/{{subjectid}}/en">To see this page on our web site click here</a> </td>
</tr>
<tr>
<td colspan="3" >Vous avez reçu cet email car vous êtes inscrit sur le site web FFLSAS.org</td>

</tr>
<tr>
<td class="left"><a href="{{baseurl}}deregister/{{userid}}">Désinscrire</a> </td>
<td class="middle"><a href="{{baseurl}}fr/login">FFLSAS.ORG</a>  </td>
<td clas="right"><a href="{{baseurl}}en/content/194">Declaration de confidentialité</a> </td>
</tr>
</table>
</div>
