{# views/message/template/fr/resetpassword_notice.html.twig #}
<div class="messageheading"> 
 <div class="label">Demande de réinitialisation du mot de passe</div>
</div>
<div class="bodytext">
   Vous avez demandé de changer votre mot de passe.
</div>
<div class="bodytext">  
  Cliquez sur le lien suivant.
</div>
<div class="link">
  <a href="{{baseurl}}remotechangepassword/{{user.userid}}/{{user.registrationcode}}">Changer mot de passe</a>
</div>
<div class="bodytext">
 Ou entrez le texte 
</div>
<div class="bodytext">
  {{baseurl}}remotechangepassword/{{user.userid}}/{{user.registrationCode}}; 
</div>
<div class="bodytext">
 dans votre browser.
</div>
<div class= "bodytext">
 Vous devrez entrer un nouveau mot de passe deux fois lorsque demandé.
</div>

