{# views/text/update.html.twig #}


{% import 'macros.twig' as m %}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/content/edit.css') }}" rel="stylesheet" />
{% endblock %}



{% block middle %}
<div id="middle" >
<div id="textedit" >

 <div class="heading" >
   <div class="label" >{{"edit"|trans}}{{text.attribute}}:{{text.language}}{{"for"|trans}} {{ text.objecttype|trans }} :{{ text.label}} </div>
   <div class="returnbutton"> <a href = {{returnlink}} >{{'.back'|trans }} </a> </div>
 </div>
{{ form_start(form) }}
   
{{ form_row(form.comment,{ 'attr': {'cols': '50'} }) }}
    <button type="submit">{{'.submit'|trans }} </button>
{{ form_end(form) }}

</div>
</div>
{% endblock %}
